<p>Notre département linguistique a mis en place une plateforme rassemblant des interprètes et traducteurs dans plus de
    cinquante langues, et des clients basés dans plus de cent pays du monde. Des entreprises, organisations non
    gouvernementales, associations sans but lucratif, institutions gouvernementales, et personnes physiques peuvent nous
    contacter afin de bénéficier des services des interprètes/traducteurs faisant partie de notre plateforme.</p>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Vous êtes interprètes/traducteurs</div>

            <div class="panel-body">
                <p>Vous pouvez vous affilier à cette plateforme, que vous soyez assermenté ou pas. L’adhésion est libre,
                    et vous n’aurez aucune obligation envers la plateforme, qui vous accueillera à bras ouverts, peu
                    importe les langues que vous maîtrisez ou le pays de résidence. Donnez le maximum de détails afin
                    que les clients potentiels sachent comment, quand et pourquoi ils peuvent faire appel à vos
                    services. Une fois qu’un client aura exprimé le désir de faire appel à vos services, nous entrerons
                    en contact avec vous.</p>
                <p>Vos données seront protégées et tenues confidentielles: elles ne seront communiquées qu’avec votre
                    autorisation, aux clients qui ont besoin de vos services</p>
            </div>
            <div class="panel-footer"><a class="btn btn-primary btn-sm" href="#">Cliquer ici pour vous affilier</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Vous êtes à la recherche des interprètes/traducteurs</div>
            <div class="panel-body">
                <p>Veuillez nous fournir assez d’informations sur vos besoins pour que nous vous mettions en contact
                    avec des interprètes / traducteurs remplissant toutes les conditions requises. Vos informations
                    seront traitées de façon professionnelle et confidentielle.</p>
                <p>Si nous ne parvenons pas à vous trouver une solution dans l’immédiat, nous vous le communiquerons.
                    Vos requêtes et réactions nous permettront d’élargir notre plateforme progressivement.</p>
            </div>
            <div class="panel-footer"><a class="btn btn-primary btn-sm" href="#">Cliquer ici pour trouver des
                interprètes/ traducteurs</a></div>
        </div>
    </div>
</div>
