<p>Selon l’objectif de votre voyage en Afrique, nous vous proposerons des solutions taillées à votre mesure. Si le continent africain vous intéresse mais que vous ne savez pas quels pays visiter, nous vous fournirons des renseignements pertinents. Nous sommes disposés à vous accueillir si vous souhaiter vous rendre en Afrique pour l’une des raisons suivantes:</p>
<ul>
    <li>Tourisme ordinaire (amusement)</li>
    <li>Voyage intellectuel</li>
    <li>Voyage social / culturell</li>
    <li>Voyage d’affaires</li>
    <li>Stage</li>
    <li>Mission humanitaire / aide au développement</li>
</ul>


<div class="row">
    <div class="col-md-6">
        <p>We assist travellers who need to learn languages spoken in their destination countries, those who need general or particular information on those countries, and those who are planning or willing to invest money in East Africa. For more information about our travel solutions, click to one of the links on the right side</p>
    </div>
    <div class="col-md-6">
        <div class="well well-sm">
            <ul>
                <li>Language introduction</li>
                <li>Country information</li>
                <li>Local guidance and support</li>
                <li>Consultancy</li>
                <li>Investment opportunities</li>
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        <p>For the time being, we particularly assist anybody who wishes to travel to East Africa. Of course, travellers to other African countries may also contact us.</p>
        <p>For travellers to East African countries, our teams in the departure and destination countries will provide a whole range of services.</p>
        <p>At present, we fully cover the East African countries mentioned on the right site:</p>
    </div>
    <div class="col-md-6">
        <div class="well well-sm">
            <ul>
                <li>Kenya</li>
                <li>Uganda</li>
                <li>Rwanda</li>
                <li>Tanzania</li>
                <li>Burundi</li>
            </ul>
        </div>
    </div>
</div>