// Variable Overrides.
//
// Modify this file to override the Bootstrap Framework variables. You can copy
// these variables directly from ../bootstrap/less/variables.less to this file.

// Set the directory for the theme root used to locate images, fonts etc.
@theme-root: '..';

// Set other directories relative to theme root.
@image-path: '@{theme-root}/images';
@icon-font-path: '@{theme-root}/bootstrap/fonts/';

@brand-primary:         #b85924;
@brand-success:         #4caf50;
@brand-info:            #3498DB;
@brand-warning:         #F39C12;
@brand-danger:          #e74c3c;

@text-color:            #252422;

@well-bg:               lighten(@brand-primary, 50%);
@well-border:           @brand-primary;